.encabezado-sitio {
  background-color: #223d88;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  /* uso flexbox*/
  display: flex;
  align-items: center; 
  gap: 1.5rem;
}

.encabezado-sitio h1 {
  font-size: 1.8rem;
  margin: 0 auto; 
  color: #ffffff;
}
.logo-sitio {
  height: 80px;
  width: auto;
  object-fit: contain;
  position: absolute; 
}