/* Este es el css basico para lo que imagino será el uso del componente funcional creado*/
.registro-actividad {
    text-align: center;
    margin-top: 20px;
    color: #64748b;
    font-size: 0.95rem;
}